body
{
    background-color: #3C486B;
    color: #EEEEEE;

}



.top, footer, #bot, .mid
{

    background-size: 180% 180%;
    animation: normal;
    text-align: center;
    border-radius: 0 0 85% 85% / 30%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* #bot {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.memopic {
    flex: 1;
}

.textcont {
    flex: 2;
} */

/* my Pic */




.draw
{
    width: auto;
    height: 250px;
}





.picme {
    color: black;
    animation: toggleColor 2s infinite;
}

@keyframes toggleColor {
    0%, 100% {
        color: black;
    }
    50% {
        color: rgb(88 199 250 / 100%);
    }
}



.picme
{

    width: 200px; 
    color: #06283D;
    border-radius: 30%;
    border: solid 5px;

}
.yomemo
{
    width: 200px;
}
.twitter, .ig1, .email_icon
{

    width: 90px;  
    height: auto;

}
.textemail
{
    color: black;
}

.email_icon
{
    display: none;
}


li{
    list-style: none;
}

a 
{
    color: #F08306;
    position: relative;
    text-decoration: none;
    font-size: 1.25rem;
}


a::before {
    background: hsl(211, 40%, 57%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }

a:hover::before 
{
    transform: scaleX(1);
    transform-origin: left;
}





/* nav bar */
header{
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    padding: 0 2rem;
}
.nav-bar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 50px; 
    height: auto;
}
.nav-bar .toggle-btn{
    color: #faedcd;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.nav-bar .links{
    display: flex;
    gap: 2rem;
}



/* DROPDOWN */
.dropdown
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.999);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open
{
    height: auto;
}
.dropdown li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*responsive*/
@media (max-width: 992px)
{

    .twitter, .ig1, .email_icon
    {

        width: 90px;  
        height: auto;

    }
.textemail
    {
        display: none;
    }
.email_icon
    {
        display: inline;
    }
    .nav-bar .links,
    .links a{
        display: none;
    }
    .nav-bar .toggle-btn{
        /* position: fixed; */
        display: block;
    }
    .dropdown{
        /* position: fixed; */
        display: block;
    }


}

@media (max-width: 576px)
{
    .dropdown{
        left: 2rem;
        width: unset;
    }

}